Source: libreoffice-thumbnailer
Maintainer: Livanh <livanh@protonmail.com>
Section: gnome
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: libreoffice-thumbnailer
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, unzip, imagemagick
Priority: optional
Section: gnome
Description: Thumbnailer for Libreoffice documents 
 This script creates thumbnails for Libreoffice documents in Nautilus, Nemo, PCManFM, and other file managers following GNOME specifications.
